*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.btn{
    padding: 1rem;
}